table {
    border-collapse: collapse;
    
}

td {
	height: 50px;
	width: 50px;
	background: black;
}

.brow,
.brow + td,
.brow + td + td {
	background: grey;
}

tr:nth-child(4) > td:not([data-not-eye]) {
	background: blue;
}

tr:nth-child(5) > td:empty,
tr:nth-child(6) > td:empty,
td[data-foo$="baz"]{
	background: #FF00FF;
}

td[data-foo^="smile"],
tr:nth-child(8) > td:nth-child(5n+3),
tr:nth-child(9) > td:not(:empty) {
	background: red;
}


/*
table {
	border-collapse: collapse;
}

td {
	background: black;
	width: 50px;
	height: 50px;
}

.brow,
.brow + td,
.brow + td + td {
	background: #C0C0C0; /* eyebrows */
}

/*
td[data-not-eye] ~ td {
	background: blue; /* eyes */
}

/*
tr > td[data-not-eye],
tr + tr + tr + tr > 
td + td + td + td + td + td + td,
tr + tr + tr + tr + tr + tr + tr + tr >
td + td + td + td,
tr + tr + tr + tr + tr + tr + tr + tr >
td + td + td + td + td + td + td + td + td,
tr + tr + tr + tr + tr + tr + tr + tr + tr > 
td + td + td,
tr + tr + tr + tr + tr + tr + tr + tr + tr > 
td + td + td + td + td + td + td + td,
tr + tr + tr + tr + tr + tr + tr + tr + tr + tr > 
td + td + td + td,
tr + tr + tr + tr + tr + tr + tr + tr + tr + tr > 
td + td + td + td + td + td + td {
	background: black;
}

tr + tr + tr + tr > 
td + td + td + td  + td {
	background: #FF00FF; /* nose */
}

/*
td[data-foo="smilebar"],
tr + tr + tr + tr + tr + tr + tr + tr >
td + td + td,
tr + tr + tr + tr + tr + tr + tr + tr >
td + td + td + td + td + td + td + td,
tr + tr + tr + tr + tr + tr + tr + tr + tr >
td + td + td + td,
tr + tr + tr + tr + tr + tr + tr + tr + tr >
td + td + td + td + td + td + td {
	background: red;
}
*/





